<!-- index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ตัวอย่าง EJS</title>
</head>
<body>
  <!-- ใช้ EJS เพื่อแสดงข้อความ -->
  <h1><%= message %></h1>

  <!-- ใช้ EJS เพื่อวนลูปแสดงรายการ -->
  <ul>
    <% for(let i=0; i<fruits.length; i++) { %>
      <li><%= fruits[i] %></li>
    <% } %>
  </ul>
</body>
</html>
