<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <!-- <nav style=" height: 80px; font-size: 20px;" class="navbar  shadow    border-3 rounded-3 justify-content-end d-flex mt-4" data-bs-theme="">
        <div class=" d-flex  justify-content-end">
            <ul class="nav nav-pills nav-fill align-items-center  d-flex  ">
                <li class="nav-item">
                    <a class="nav-link "  href="">HOME</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link" href="">สถานที่ท้องเที่ยว</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">แนะนำอาหาร</a>
                </li>
               
                    <li class="nav-item ">
                        <a class="nav-link" href="">ประเพณี</a>                                           
                    </li>
                 
              
                    <li class="nav-item me-2">

                           <a class="nav-link" href="">ข้อมูลภาคตะวันออกเฉียงเหนือ   </a>                            
                    </li>
                  
                    <li class="nav-item">
                        <a class="nav-link" href="topics.php">กระทู้</a>
                    </li>
                <li> 
                    <a class="nav-link" href="report.php">รายงาน</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link active" aria-current="page" href="register.php">สมัครสมาชิก</a>
                </li>
                <li class="nav-item ms-3 me-4">
                    <a class="nav-link  active" aria-current="page" href="login.php" >login</a>
                </li>
        </ul>
    </div>
</nav> -->
    <div class="container p-5">
        <div class="card">
            <div class="card-body">
                    <h1>Hello, <%= name %></h1>
                    <a href="/logout" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </div>
</body>
</html>