<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User List</title>
    <style>
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    <h1>User List</h1>
    <div class="card mx-2 mt-2 mb-2" style="width: 12rem;">
        <div class="card-body">
            <a href="/board?neme=${board.token}" class="btn ">     <!-- แก้ไขตรงนี้ -->
                <h5 class="card-title">${board.boardname}</h5>
                <img src="OIP.jpg" style="width: 50px;" class="card-img-top" alt="">
                <p class="card-text">${board.message}</p>
            </a>
        </div>
    </div>`;
</body>
</html>
