<header>
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">

            <a class="navbar-brand" href="/"> <img src="https://img5.pic.in.th/file/secure-sv1/FH_LG.png" width="250px"
                    height="50px" class="d-none d-sm-block" alt="Responsive Image"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">FarmHug</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">หน้าหลัก</a>
                        </li>
                        <% if (typeof username !=='undefined' && username) { %>
                        <li>
                            <a class="nav-link" href="#">แก้ไขโปรไฟล์</a>
                        </li>
                        <% } %>
                        <li class="nav-item">
                            <a class="nav-link" href="/user">ฟาร์มของคุณ</a>
                        </li>
                    
                        <li class="nav-item my-3">
                            <% if (typeof username !=='undefined' && username) { %>
                                <a href="/logout" type="button" class="btn btn-danger">Logout</a>
                                <% } else { %>
                                    <a href="/login" type="button" class="btn btn-outline-primary me-2">Login</a>
                        </li>
                        <li>
                            <a href="/register" type="button" class="btn btn-outline-primary me-2">Sign-up</a>
                            <% } %>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>